*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
font-family:sans-serif;
}
.navbar-inverse{
	border-radius: 0;
}
.btn-primary{
	height: 50px;
	border-radius: 0;
}
.error{
	display: none;
}