<footer>
   
      <div class="container">
      	<div class="col-md-6 col-md-offset-3">
      		<h4 style="font-style: italic;"> E bio !!! Au service des grands chefs commes vous !</h4>
            </div>
      	<div class="col-md-6 image-cousteau pull-right">
          </div>
      		<div class="col-md-6 col-md-offset-3">
            <p class="copy">Copyright © 2019. Tous droits réservés . Projet d'etude NAN</p>
            </div> 
    </div>
   </footer>