<header>
        <nav id="navbar-default"class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header">
              <a href="market.ejs">
              <ul class="navbar-brand">
                <p class="logo">E-bio cote d'ivoire</p>
              </ul>
              </a>
            </div>
            <div>
              <ul class=" visible-xs nav navbar-nav navbar-right">
                 <a href="/panier.ejs">
                  <li>
                        <span class="panier-xs btn btn-default panier"><img class="img-responsive"src="/images/panier1.png"><span class="element"></span></span>
                </li>
              </a>
              </ul>
            </div>
            <div>
              <ul class="hidden-xs nav navbar-nav navbar-right">
               <a href="panier.ejs">  <li class="img-panier"><span class="element"></span></li></a>
              </ul>
              <ul class="hidden-xs nav navbar-nav navbar-right">
               <h5 id="livraison"style="margin-right:10px;">Livraison : 6 jours / 7</h5>
              </ul>
            </div>
          </div>
          </nav>
    </header>