<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ebio|login</title>
    <!-- Bootstrap -->
     <link href="/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -- >
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background:url('/images/main.jpg')center center;background-repeat: no-repeat;background-size: cover;">
  		<header>
        <nav id="navbar-default"class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header">
              <a href="Javascript:history.back()">
              <ul class="navbar-brand">
                <p style="font-size: 50px"class="logo">E-bio cote d'ivoire</p>
              </ul>
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li></li>
              </ul>
            </div>
          </div>
          </nav>
    </header>
    <div class="container">
      <div style="padding:100px;margin-top:100px;"class="well">
        <div class="row">
          <form method="post"action="login.ejs">
          <div class="col-md-12">
          <div class="row">
          <legend><h2 style="font-weight: bold;">Admin login</h2></legend>
          <div style="margin-top: 20px;"class="form-group col-md-6">
            <input class="inputCommande"type="text"placeholder="nom utilisateur" name="nomLogin"required>
          </div>
          <div style="margin-top: 20px;"class="form-group col-md-6">
            <input class="inputCommande"type="password"placeholder="mot de passe" name="passwordLogin"required>
          </div>
          <div style="margin-top: 20px;" class="form-group col-md-6 col-md-offset-3">
            <button style="width: 100%;"class="btn btn-order">connexion</button>
          </div>
          <div style="text-align:center ;margin-top: 20px;"class="pull-right form-group col-md-6">
            <h4><a href="#">mot de passe oublié ?</a></h4>
          </div>
           <div style="text-align:center ;margin-top: 20px;"class="pull-right form-group col-md-6">
            <h4><a href="creation.ejs">creer un compte ?</a></h4>
          </div>
          </div>
          </div>
        </form>
        </div>
        </div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
</body>
